# OSX files
*.xcworkspacedata
*.xcuserstate
*.xcsettings
*.xcbkptlist
*.xcscheme
*.plist
*.dylib
*.xlib
*.msg
*.stamp
.DS_Store

# Windows files
*.exp
*.cdl64
*.opensdf
*.sdf
*.tlog
/*.obj
*.lastbuildstate
*.obj

# Other files
projecttool_log.txt
generated