
*.xcworkspacedata

*.xcuserstate

*.xcsettings

*.xcscheme

*.plist

SplineProjector.dylib

*.xcbkptlist
*.suo
SplineProjector.cdl64
*.opensdf
*.pdb
*.sdf
*.user
*.obj
*.log
*.lastbuildstate
*.tlog
*.lib
*.exp
*.cache
*.db
