body {
	background-color: #EFE0CC;
	color: black;
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-size: 0.75em;
	padding: 0px;
	margin: 1em 1em 1em 1em;
}

img {
	border: 1px solid black;
}

div.maincontent {
	background-color: white;
	padding: 1em	;
	margin: auto;
	border: 1px dashed black;
	-webkit-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.5);
	max-width: 1024px;
}

div.pane {
	padding: 0.5em;
	background-color: #F5F5F5;
	border: 1px solid #AAAAAA;
	-webkit-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.5);
	margin: 0px 0px 1.5em 1.5em;
	width: 320px;	
}

div.indent {
	margin-left: 1em;
}

h1 {
	font-size: 2.5em;
	font-weight: 700;
	width: 100%;
	border-width: 0px 0px 1px 0px;
	border-style: none none dotted none;
	border-color: black;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 1em 0px;
}

h2 {
	font-size: 14px;
	font-weight: 700;
	width: 50%;
	border-width: 0px 0px 1px 0px;
	border-style: none none dotted none;
	border-color: darkgray;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 1em 0px;
}

h3
{
	font-size: 14px;
	font-weight: 700;
	width: 50%;
	padding: 5px 0px 0px 0px;
	margin: 0.75em 0px 0.5em 0px;
}

h4
{
	font-size: 12px;
	font-weight: 700;
	width: 50%;
	padding: 5px 0px 0px 0px;
	margin: 0.75em 0px 0.25em 0px;
}

p {
	margin: 0px 0px 0.5em 0px;
}

a {
	color: #8F806C;
}

a:hover {
	color: #DD2200;
}

a:visited {
	color: #6F604C;
}

.floatright {
	float: right;
}

#slightlybigger {
	font-size: 1.25em;
}
